@import '../../themes/_buttons.scss';


.carouselBanners {
    @import "@faststore/ui/src/components/atoms/Button/styles.scss";
    @import "@faststore/ui/src/components/molecules/Carousel/styles.scss";

    margin-bottom: 40px;

    [data-fs-carousel] {
        [data-fs-carousel-track] {
            padding: 0;
        }
    }

    [data-fs-carousel-item] {
        margin: 0 !important;
    }

    [data-fs-carousel-banner] {
        [data-fs-link] {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            text-transform: uppercase;
        }

        [data-fs-button] {
            --fs-button-border-width: var(--fs-border-width);
            margin-top: auto;
        }
    }
}


.carouselBanners__item {
    position: relative;
}

.carouselBanners__content {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 2;
    text-align: center;
}

.carouselBanners__title {
   text-transform: uppercase;
   clear: both;
   font-size: var(--fs-text-size-8);
   margin-bottom: 10px;
   color: var(--fs-color-main-2);
   font-family: var(--fs-text-face-title);
   font-weight: bold;
}

.carouselBanners__button {
    width: 200px !important;
    @extend %primary-button;
}