@import '../../themes/_buttons.scss';

.HeroWithShelf {

  

  margin:var(--fs-spacing-8) 0;

  display: flex;

  [data-fs-link] {
    @import '@faststore/ui/src/components/atoms/Link/styles.scss';
    
  }

  [data-fs-carousel] [data-fs-carousel-track] {
    --fs-carousel-padding-desktop: 0;
    --fs-carousel-padding-mobile: 0;
  }

  .HeroWithShelf__content {
    width: 50%;
  }
  .HeroWithShelf__banner {
    width: 50%;
  }

  &[data-fs-background="orange"] {
    background-color: #CB542B;
    color:#FFF;

    .HeroWithShelf__title,
    .HeroWithShelf__description {
      width: 70%;
    }

    .HeroWithShelf__content {
      width: 60%;
      min-width: 680px;
    }
    .HeroWithShelf__banner {
      width: 40%;
    }
    
    .HeroWithShelf__description,
    [data-fs-product-card-content] {
      color:#FFF !important;
      * {
        color:#FFF !important;
      }
    }
  }

  &[data-fs-background="light-yellow"] {
    background-color: #F5EFE4;
    color: var(--fs-color-main-3);

    .HeroWithShelf__title {
      width: 70%;
    }

    .HeroWithShelf__content {
      width: 45%;
      min-width: 680px;
      order: 2;
    }
    .HeroWithShelf__banner {
      width: 55%;
    }

    .HeroWithShelf__link {
      @extend %primary-button;
    }
  }

  [data-fs-skeleton] {

    @include media(">notebook") {
      aspect-ratio: 7.35 / 3;
    }
    width: 100%;
    height: auto !important;
    border-radius: 5px;
    opacity: 0.3;
  }
  
}

.HeroWithShelf__title {
  font-size: var(--fs-text-size-headtitle);
  font-family: var(--fs-text-face-title);
  margin-bottom: var(--fs-spacing-4);
  text-transform: uppercase;
  line-height: 92px;
}

.HeroWithShelf__description {
  font-size: var(--fs-text-size-3);
  margin-bottom: var(--fs-spacing-5);
  color: var(--fs-color-main-5);
}



.HeroWithShelf__shelf {
  @import "@faststore/ui/src/components/molecules/Carousel/styles.scss";

  --fs-product-card-bkg-color: none;
  --fs-color-body-bkg:none;
  
  [data-fs-product-card] {
    &:hover {
      box-shadow: none ;
      border-color: transparent;
    }
  }
  [data-fs-product-card-content] {
    border: none;
  }


   [data-fs-carousel] [data-fs-carousel-controls] {
    opacity: 1;
  }

   [data-fs-carousel] [data-fs-carousel-control] {
      width: 40px;
      height: 40px;
      display: block;
      padding: 0;

      &[disabled] {
        opacity: 0.3;
      }
  }

   [data-fs-carousel] [data-fs-carousel-control] [data-fs-button-wrapper] {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFF;
      span,svg {
        display: block;
      }
  }
}

.HeroWithShelf__col {
  align-items: center;
}

.HeroWithShelf__banner__img {

  [data-fs-image] {
    height: 100%;
  }
}

.HeroWithShelf__content {
  padding:var(--fs-spacing-8) calc(var(--fs-spacing-8) * 2);
  align-self: center;
}

.HeroWithShelf__link { 
  @extend %primary-button;
  background: rgb(#2B2B2B, 0.2);
  transition: all ease 0.3s;

  &:hover {
    background: rgb(#2B2B2B, 0.4);
  }
}




@include media("<notebook") {

  .HeroWithShelf {
    flex-wrap: wrap;

    .HeroWithShelf__banner__img {
      order: -1;

      [data-fs-image] {
        width: 100%;
        height: 360px;
        object-position: top;
      }
    }

    .HeroWithShelf__content,
    .HeroWithShelf__banner {
      width: 100% !important;
      min-width: initial !important;
    }
  }

  .HeroWithShelf__title {
    font-size: 70px;
    line-height: 72px;
    text-transform: uppercase;
  }

  .HeroWithShelf__content {
    padding: var(--fs-spacing-5);
  }

  .HeroWithShelf__shelf {

    [data-fs-carousel] [data-fs-carousel-track] {
      padding-right: 30%;
    }
  }

}