.infoCardSlider {
  margin: 60px 0;
  padding: 0 20px;

  @import "@faststore/ui/src/components/atoms/Button/styles.scss";
  @import "@faststore/ui/src/components/molecules/Carousel/styles.scss";

  [data-fs-carousel] {
		--fs-carousel-item-margin-right: 10px;

    [data-fs-carousel-track] {
      padding: 0;
    }
  }

  [data-fs-carousel-item] {
    text-align: left;
		border:1px solid transparent;
		transition: all ease 0.3s;
		padding: 5px;
		&:hover {
			border:1px solid #000;
		}
  }

  [data-fs-carousel-controls] {
    width: calc(100% + 37px) !important;
		margin-bottom: -24px !important;
  }

  [data-fs-carousel-banner] {
    [data-fs-link] {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      text-transform: uppercase;
    }

    [data-fs-button] {
      --fs-button-border-width: var(--fs-border-width);
      --fs-button-text-weight: var(--fs-text-weight-regular);
      margin-top: auto;
    }
  }

	&__title {
		color: var(--fs-color-main-3);
		font-family: var(--fs-text-face-title);
		text-transform: uppercase;
		font-size: 40px;
		font-weight: 700;
		text-align: center;

		
		margin: 20px 0;

	}
}

.infoCardSlider__item {
  position: relative;
}

.infoCardSlider__content {
  clear: both;

  h5 {
    color: var(--fs-color-main-4);
		font-size: 22px;
		font-weight: 400;
		line-height: 19.36px;
		text-align: left;
		text-transform: none;
		padding: 10px 0;

  }
}
