@import '../../themes/_buttons.scss';


.ShelfWithVideo{

  margin: var(--fs-spacing-8) var(--fs-grid-gap-4);

  display: flex;
  flex-wrap: wrap;

  [data-fs-link] {
    @import '@faststore/ui/src/components/atoms/Link/styles.scss';
    
  }

  
  
}

.ShelfWithVideo__title {
  font-size: var(--fs-text-size-headtitle);
  font-family: var(--fs-text-face-title);
  margin-bottom: var(--fs-spacing-2);
  text-transform: uppercase;
  color: #113485;
}

.ShelfWithVideo__subtitle {
  font-size: var( --fs-text-size-4);
  margin-bottom: var(--fs-spacing-1);
  color: #113485;
}

.ShelfWithVideo__description {
  font-size: var(--fs-text-size-3);
  margin-bottom: var(--fs-spacing-5);
  color: var(--fs-color-main-6);
}



.ShelfWithVideo__shelf {
  @import "@faststore/ui/src/components/molecules/Carousel/styles.scss";

  --fs-product-card-bkg-color: none;
  --fs-color-body-bkg:none;

  border-top: 1px solid rgb(#1C4DA1, 0.4);
    padding-top: 30px;
  
  [data-fs-product-card] {
    &:hover {
      box-shadow: none ;
      border-color: transparent;
    }
  }
  [data-fs-product-card-content] {
    border: none;
  }

  [data-fs-carousel] {
    display: block;
  }

  [data-fs-carousel-track] {
    padding: 0 !important;
  }


   [data-fs-carousel] [data-fs-carousel-controls] {
    opacity: 1;
    position: absolute;
    top: -52px;
    left: -50px;
    bottom: initial;
    width: calc(100% + 110px);
  }

   [data-fs-carousel] [data-fs-carousel-control] {
      width: 40px;
      height: 40px;
      display: block;
      padding: 0;

      &[disabled] {
        opacity: 0.3;
      }
  }

   [data-fs-carousel] [data-fs-carousel-control] [data-fs-button-wrapper] {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFF;
      span,svg {
        display: block;
      }
  }

  [data-fs-carousel-item="true"] {
    padding-right: 150px;
    margin-right: -140px !important;
  }
  [data-fs-product-grid-item="true"] {
    padding-right: 40px;
  }


  [data-fs-carousel-track-container="true"] {
      width: calc(100% + 194px) !important;
  }

}

.ShelfWithVideo__col {
  align-items: center;
}

.ShelfWithVideo__content {
  padding:var(--fs-spacing-8) calc(var(--fs-spacing-9) * 3);
  align-self: center;
  width: 65%;
}

.ShelfWithVideo__banner {
  width: 35%;
}