
%primary-button {
    background-color: var(--fs-color-main-1);
    text-align: center;
    color:#FFF;
    display: inline-block !important;
    border-radius: 50px;
    overflow: hidden;
    padding: 10px 20px;
    text-decoration: none;
    transition: all ease 0.3s;

    div {
        background: none !important;
    }

    &:hover {
        background-color: var(--fs-color-main-3);
    }
}