// ----------------------------------------------------------
// GLOBAL TOKENS
// Custom Theme
// ----------------------------------------------------------


$basepath: '../assets';

@import './fonts';


@layer theme {
  .theme {
    // --------------------------------------------------------
    // Colors (Branding Core)
    // --------------------------------------------------------
    --fs-color-main-0: #ecf0ff;
    --fs-color-main-1: #1C4DA1;
    --fs-color-main-2: #476C73;
    --fs-color-main-3: #112B59;
    --fs-color-main-4: #292929;
    --fs-color-main-5: #393939;
    --fs-color-main-6: #1D1D1D;

    --fs-color-als-gray-1:#E4E4E4;
    --fs-color-als-gray-2:#BBBBBB;
    --fs-color-als-gray-3:#8E8E8E;
    --fs-color-als-gray-4:#616161;
    --fs-color-als-gray-5:#3F3F3F;
    --fs-color-als-gray-6:#1D1D1D;
    --fs-color-als-gray-7:#1A1A1A;
    --fs-color-als-gray-8:#151515;
    --fs-color-als-gray-9:#111;
    --fs-color-als-gray-10:#0A0A0A;

    --fs-link-text-color: var(--fs-color-main-6);

    
    // --------------------------------------------------------
    // Typography (Branding Core)
    // --------------------------------------------------------
    --fs-text-face-body:  'Suisse Intl', Arial, sans-serif;
    --fs-text-face-title: "Neue Plak", serif;

    // NUMERIC SCALE

    --fs-text-scale-desktop              : 1;
    --fs-text-scale-mobile               : 0.7;
    --fs-scale                           : var(--fs-text-scale-desktop);

    @include media("<notebook") {
      --fs-scale                         : var(--fs-text-scale-mobile);
    }

    --fs-text-size-base                  : 16px; // 1rem

    --fs-text-size-0                     : 12px; // Smallest
    --fs-text-size-1                     : 14px; // Smaller                               
    --fs-text-size-2                     : 16px;                      
    --fs-text-size-3                     : 20px; 
    --fs-text-size-4                     : calc(40px * var(--fs-scale));
    --fs-text-size-5                     : calc(56px * var(--fs-scale)); 
    --fs-text-size-6                     : calc(64px * var(--fs-scale)); 
    --fs-text-size-7                     : calc(72px * var(--fs-scale)); 
    --fs-text-size-8                     : calc(102px * var(--fs-scale)); 


    --fs-text-size-headtitle             : 102px;

    // --------------------------------------------------------
    // Spacing (UI Essentials)
    // --------------------------------------------------------

    // NUMERIC SCALE
    --fs-spacing-0                       : .25rem; //  4px
    --fs-spacing-1                       : .5rem;  //  8px
    --fs-spacing-2                       : .75rem; // 12px
    --fs-spacing-3                       : 1rem;   // 16px (--fs-text-size-base)
    --fs-spacing-4                       : 1.5rem; // 24px
    --fs-spacing-5                       : 2rem;   // 32px
    --fs-spacing-6                       : 2.5rem; // 40px
    --fs-spacing-7                       : calc(3rem * var(--fs-scale));   // 48px
    --fs-spacing-8                       : calc(3.5rem * var(--fs-scale)); // 56px
    --fs-spacing-9                       : calc(4rem * var(--fs-scale));   // 64px
    --fs-spacing-10                      : calc(4.5rem * var(--fs-scale)); // 72px
    --fs-spacing-11                      : calc(5rem * var(--fs-scale));   // 80px
    --fs-spacing-12                      : calc(5.5rem * var(--fs-scale)); // 88px
    --fs-spacing-13                      : calc(6rem * var(--fs-scale));   // 96px

    
    // --------------------------------------------------------
    // Grid & Layout (UI Essentials)
    // -------------------------------------------------------- 

    --fs-z-index-high:99;
    --fs-z-index-highest:999;

    --fs-product-card-title-color: var(--fs-color-main-4);
    --fs-product-card-title-size: var(--fs-text-size-4);

    --fs-grid-max-width: calc(100% - var(--fs-spacing-8));
    

    // --------------------------------------------------------
    // Interactive Controls (UI Essentials)
    // --------------------------------------------------------

    --fs-control-tap-size: 50px;

    @include media("<notebook") {
      --fs-control-tap-size: 44px;
    }

    --fs-button-small-min-height:var(--fs-control-tap-size);

    // --------------------------------------------------------
    // Refinements
    // --------------------------------------------------------

    --fs-color-primary-bkg: var(--fs-color-main-1);
    // --------------------------------------------------------
    // FS UI Components
    // --------------------------------------------------------
    // Add here the customizations for FastStore UI components.

  }
}
