.customHeader {
  background-color: #FFF;
  
}

.customHeader__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  [data-fs-search-input] {
    margin: 0 var(--fs-spacing-7);
    width: 100%;
  }
}

.customHeader__logo {
  width: 55px !important;
  min-width: 55px !important;
}

.section {
  position: sticky;
  top: 0;
  z-index: var(--fs-z-index-high);

  @import "@faststore/ui/src/components/atoms/Badge/styles.scss";
  @import "@faststore/ui/src/components/atoms/Button/styles.scss";
  @import "@faststore/ui/src/components/atoms/Icon/styles.scss";
  @import "@faststore/ui/src/components/atoms/Input/styles.scss";
  @import "@faststore/ui/src/components/atoms/Link/styles.scss";
  @import "@faststore/ui/src/components/atoms/List/styles.scss";
  @import "@faststore/ui/src/components/atoms/Logo/styles.scss";
  @import "@faststore/ui/src/components/atoms/Price/styles.scss";
  @import "@faststore/ui/src/components/molecules/LinkButton/styles.scss";
  @import "@faststore/ui/src/components/molecules/NavbarLinks/styles.scss";
  @import "@faststore/ui/src/components/molecules/ProductPrice/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchAutoComplete/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchDropdown/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchHistory/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchInputField/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchProducts/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchTop/styles.scss";
  @import "@faststore/ui/src/components/organisms/SearchInput/styles.scss";
  @import "@faststore/ui/src/components/organisms/Navbar/styles.scss";
  


}


.customHeader__menu {
  [data-fs-navbar-links-list-item] {
    --fs-navbar-links-link-padding-notebook:0 10px;
  }

  &::before {
    display: none;
  }
}

.topBar {
  background-color: var(--fs-color-main-1);
  color:#FFF;
  text-align: center;
  display: flex;
  
}

.topBar__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topBar__list {
  display: flex;
  margin:0 auto;
  padding: var(--fs-spacing-3) 0;
  .topBar__list__item {
    padding: 0  var(--fs-spacing-4);
    font-size: var(--fs-text-size-1);

    border-right: 1px solid #FFF;

    &:last-child {
      border:none;
    }
  }
}

.navbarButtons {
  display: flex;
  align-items: center;
}

.navButtons__item {
  margin: 0 var(--fs-spacing-3);

  
  [data-fs-icon] {
    color:var(--fs-color-main-6) !important;
  }

  [data-fs-badge][data-fs-badge-counter=true] [data-fs-badge-wrapper] {
    background-color: var(--fs-color-main-6);
  }
}

.topbar__regionBar {

  [data-fs-button]:not(:focus) * {
    color:#FFF;
  }
  [data-fs-button]:hover *,
  [data-fs-button]:active *  {
    color: var(--fs-color-main-1);
  }

  [data-fs-button-wrapper] > span {
    display: flex;
    align-items: center;
  }

  [data-fs-icon] {
    margin-right: 10px;
  }
}

.customHeader__search {
  
  [data-fs-search-input-field] [data-fs-search-input-field-input] {
    background-color: #F6F9FF;
    border-radius: 30px !important;
    border:1px solid #D3DEF1;
    color:var(--fs-color-main-6);
    font-size:var(--fs-text-size-2);
    padding-left: var(--fs-search-input-field-input-padding-right);
    padding-right: var(--fs-input-padding);
  }

  [data-fs-search-input-field] {
    // --------------------------------------------------------
    // Design Tokens for Search Input Field
    // --------------------------------------------------------
    --fs-search-input-field-height-mobile                 :40px;
    --fs-search-input-field-height-desktop                :50px;
    --fs-search-input-field-button-min-height             :50px;
  
  }

  [data-fs-search-input-field] [data-fs-icon-button][data-fs-button-variant] {
    left: 0;
    right: initial;
    position: absolute;
  }
}

.buttonMenu {
  display: none !important;
}

.navLinks__mobile {
  position: absolute !important;
  width: 100%;
  background: #FFF;
  height: calc(100vh - 100%);
}



@include media("<notebook") {

  .buttonMenu {
    display: flex !important;
  }

  .customHeader__wrapper {
    flex-wrap: wrap;

    [data-fs-search-dropdown] {
      width: 100%;
      left: 0;
    }
  }

  .customHeader__logo {
    margin: 0 auto;
    position: relative;
    left: 40px;
  }

  .customHeader__navLinks {
    display: none;
  }
  .customHeader__search[data-fs-search-input] { 
    order: 10;
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
  }

  .topbar__regionBar {
    display: none;
  }
}
